.DS_Store
.Rhistory
.Rproj.user
.snakemake
# The dictionary of words accrued by `mdspell` for spellcheck
.spelling


# This is the result of running ./scripts/run_in_ci.sh
# If someone tests running things in CI locally, we don't want this tracked
open_pbta_envs.txt

# Ignore jupyter checkpoint folders
.ipynb_checkpoints

# Result of running docker image locally. Should not be tracked
.rstudio/

# Ignore all .pyc files
*.pyc

# Ignore all bash history files
.bash_history
