.DS_Store
.Rhistory
# The dictionary of words accrued by `mdspell` for spellcheck
.spelling
# The nonessential output produced in the root directory of this repository when we run `analyses/sample-distribution-analysis/run-sample-distribution.sh`
/Rplots.pdf