.DS_Store
.Rhistory
.Rproj.user
# The dictionary of words accrued by `mdspell` for spellcheck
.spelling

# This file can not be created locally - OOM killed
analyses/create-subset-files/01-create_subset_files\.nb\.html
